// Media Query trigger
@mixin small {
    @media only screen and (max-width: 768px) {
      @content;
    }
}

@mixin tablets {
    @media only screen and (max-width: 481px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 320px) {
        @content;
    }
}

@mixin Montserrat {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

@mixin PlayfairDisplay {
    font-family: 'Playfair Display', serif;
}
@mixin Stackyard {
    font-family: "Stackyard", "Arial", sans-serif;
}

@mixin btnStyle {
    @include Montserrat;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: 18px;

    padding: 15px 40px;
    margin-top: 40px;

    background: none;
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

@mixin inputTextStyles {
    @include Montserrat;
    color: #000;
    font-size: 1rem;
}

@mixin inputStyles {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
}

@mixin inputIndents {
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    width: calc(50% - 10px);
}