@import "./fonts";
@import "./mixin.scss";

$grey: #8f8f8f;

*{
  transition: all 0.1s;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;

  @include small {
    width: 90%;
  }

  @include tablets {
    width: 95%;
  }
}

.custom-map-control-button {
  @include Montserrat;
  background-color: #fff;
  outline: none;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 24px -7px #000000; 
  box-shadow: 5px 5px 24px -7px #000000;

  @include mobile {
    margin-top: 55px;
  }

  &:hover {
    background-color: #ccc;
  }
}
  
// Navigation
.header {
    position: fixed;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;

    @include small {
      padding-top: 25px;
    }
}
  
.open-nav {
    max-height: 400px !important;

    .mobile-toggle {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
}

.sticky {
    background-color: #fff;
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid lighten($grey, 30%);
}
  
.logo {
    width: 50px;
    font-size: 25px;
    color: $grey;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
    text-decoration: none;

    @include small {
      float: none;
    }
}

// Nav list
.nav {
    float: right;
    width: 60%;
    
    @include small {
      width: 100%;
    }
  
    &__list {
      list-style: none;
      overflow: hidden;
      text-align: right;
      float: right;

        @include small {
            padding-top: 10px;
            margin-bottom: 22px;
            float: left;
            text-align: center;
            width: 100%;
        }
    }

    &__item {
        display: inline-block;
        margin-left: 35px;
        line-height: 1.5;

        @include small {
          width: 100%;
          padding: 7px 0;
          margin: 0;
        }

        &_link {
            color: #888888;
            text-transform: uppercase;
            font-size: 12px;
            text-decoration: none;
    
            &:hover {
              color: #333;
              // transition: 0.1s;
              border-bottom: 2px solid #888;
            }

            &:active {
              color: #bfbfbf;
              border-bottom: 2px solid #bfbfbf;
            }
        }
    }
}
  
.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    @include small {
      display: block;
    }
  
    span {
      width: 30px;
      height: 4px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background: $grey;
      display: block;
    }
  }
  
  .row {
    width: 80%;
    // max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;

    @include small {
      width: 90%;
    }
  }

  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    height: 100vh;
    min-height: 700px;
    
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(51,51,51,0.7) 100%), url(../../src/img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  
    .heading {
        &__pref {
            font-family: 'Stackyard', sans-serif;
            font-size: 60px;
        }

        &__name {
            @include Montserrat;
            font-size: 40px;
            font-weight: 200;
            letter-spacing: 10px;

            @include mobile {
              font-size: 35px;
              letter-spacing: 5px
            }
        }
        &__descr {
            @include PlayfairDisplay;
            font-size: 20px;
            line-height: 20px;
          
            @include mobile {
              font-size: 15px;
            }
        }
    }

    .header_button {
      @include btnStyle;
      position: relative;
      display: inline-block;
      overflow: hidden;
      transition: .2s ease-in-out;
      text-decoration: none;


      &:before {
        content: "";
        background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
        height: 60px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -150px;
        transform: skewX(-45deg);
      }

      &:hover {
        font-weight: 500;
        background: rgba(255, 255, 255, .2);
        color: #000;
        border-color: #000;
      }
      &:hover:before {
        left: 220px;
        transition: .5s ease-in-out;
      }
      &:active {
        border-left-width: 3px;
        border-right-width: 3px;
      }
    }
  }
  
  .scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 190px;
    margin-bottom: 40px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #fff;
    
    &__icon {
        color: #fff;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
  }

.about {
  position: relative; 

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 5%;
    width: 95%;
    height: 100%;
    background-color: #efefef;
    z-index: -10;
  }

  &__container {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    @include tablets {
      padding: 50px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }

    @include mobile {
      width: 100%;
    }
  }

  &__descr {
    width: 65%;
    text-align: left;
    padding-right: 40px;

    @include tablets {
      width: 90%;
      padding-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    .descr__span {
      @include Stackyard;
      font-size: 30px;
      line-height: 30px;
     
    }

    .descr__header {
      @include Montserrat;
      font-size: 30px;
      line-height: 30px;
      font-weight: 400;
      margin: 20px 0;
    }

    .descr__text {
      @include PlayfairDisplay;
      font-size: 15px;
      line-height: 20px;
      color: #969696;

      @include tablets {
        text-align: justify;
      }
    }

    .descr_button {
      @include btnStyle;
      border-color: #000;
      color: #000;
      position: relative;
      display: inline-block;
      overflow: hidden;
      transition: .2s ease-in-out;
      text-decoration: none;

      &:before {
        content: "";
        background: linear-gradient(90deg, rgba(136, 136, 136, .1), rgba(136, 136, 136, .5));
        height: 60px;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -150px;
        transform: skewX(-45deg);
      }

      &:hover {
        font-weight: 500;
        background: rgba(136, 136, 136, .2);
        color: #000;
        border-color: #000;
      }
      &:hover:before {
        left: 220px;
        transition: .5s ease-in-out;
      }
      &:active {
        border-left-width: 3px;
        border-right-width: 3px;
      }
    }
  }

  &__image {
    position: relative;
    height: 28.750em;
    width: 35%;
    background: url(../../src/img/s_about_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    @include tablets {
      width: 100%;
      margin: 0 auto;
      background-size: cover;
    }

    &::before {
      position: absolute;
      content: '';
      top: 20%;
      left: -50%;
      height: 28.750em;
      width: 100%;
      border: 3px solid #ccc;
      z-index: -5;

      @include tablets {
        display: none;
      }
    }
  }
}

.portfolio {
  position: relative;
  margin-top: 130px;
  margin-bottom: 80px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;

    @include small {
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @include tablets {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;  
      grid-gap: 10px;
    }

    &_header {
      @include PlayfairDisplay;
      grid-row: 1 / 3;

      @include tablets {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
      }

      .portfolio__header {
        font-size: 40px;
        font-weight: 600;
        color: #000;
      }

      .portfolio__text {
        font-size: 16px;
        color: #686868;
      }
    }

    &_item {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      transform-style: preserve-3d;

      .item__description {
        transform: translateZ(20px);
        transition: 0.2s;

        @include Montserrat;
        color: #ccc;
        opacity: 0.9;
        width: 100%;
        padding: 15px 0;
        background-color: rgba(204, 204, 204, 0.2);

        &_header {
          font-size: 30px;
        }

        &_text {
          font-size: 14px;
        }
      }

      &:hover {
        background-color: rgba(51,51,51,0.6) 0%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 10;

        .item__description {
          color: #fff;
          opacity: 1;
          background-color: rgba(204, 204, 204, 0.5);
        }
      }

      &:nth-child(2) {
        grid-row: 1 / 5;
        background-image: url(../../src/img/port_item1.jpg);

        @include small {
          grid-row: 1 / 4;
        }

        @include tablets {
          grid-row: 1 / 4;
          grid-column: 2 / 3;
        }
      }
      
      &:nth-child(3){
        grid-row: 3 / 7;
        background-image: url(../../src/img/portfolio_item2.jpg);

        @include small {
          grid-row: 3 / 5;
        }

        @include tablets {
          grid-row: 3 / 4;
          grid-column: 1 / 2;
          
        }
      }

      &:nth-child(4) {
        grid-row: 2 / 6;
        background-image: url(../../src/img/portfolio_item5.jpg);   
        
        @include small {
          grid-row: 2 / 5;
        }

        @include tablets {
          grid-row: 4 / 5;
          grid-column: 2 / 3;
          
        }
      }

      &:nth-child(5) {
        grid-row: 5 / 9;
        background-image: url(../../src/img/portfolio_item4.jpg);

        @include small {
          grid-row: 4 / 7;
        }
        
        @include tablets {
          grid-row: 4 / 6;
          grid-column: 1 / 2;
          
        }
      }
      
      &:nth-child(6) {
        grid-row: 6 / 10;
        background-image: url(../../src/img/portfolio_item3.jpg);     

        @include small {
          grid-row: 5 / 10;
        }

        @include tablets {
          grid-row: 5 / 7;
          grid-column: 2 / 3;
          
        }
      }

      &:last-child {
        grid-row: 7 / 11;
        background-image: url(../../src/img/portfolio_item6.jpg);   
        
        @include small {
          grid-row: 5 / 8;
        }

        @include tablets {
          grid-row: 6 / 7;
          grid-column: 1 / 2;
          
        }
      }
    }
  }

  .splide {
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;;
    height: 100vh;
    margin: 0 auto;
    position: fixed !important; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 999;
    background-color: rgba(0,0,0,0.9);


    &__close {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      
      &:hover {
        border: 1px solid #fff;
      }
      
      &:active {
        border-width: 2px;

        & .splide__close_icon {
          transform: scale(0.8);
        }
      }

      &_icon {
        color: #fff;
        font-size: 35px;
      }
    }

    &__list {

      .splide__slide {
        margin: 0 20px;
      }

      &_img {
        width : auto;
        height: 70vh;
      }  
    }
    
  }
}

.contact {
  margin-top: 100px;
  margin-bottom: 100px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    justify-items: stretch;
    align-items: stretch;

    @include small {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }
  &__heading {
    @include PlayfairDisplay;
    grid-column: 1/2;

    @include small {
      width: 90%;
      text-align: left;
      margin: 0 auto;
    }

    &_header {
      font-size: 40px;
      font-weight: 600;
      color: #000;
    }

    &_text {
      font-size: 16px;
      color: #686868;
    }
  }
  &__form {
    @include Montserrat;
    $gray: #9b9b9b;
    grid-column: 2/4;

    @include small {
      width: 90%;
      margin: 0 auto;
    }

    .form {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      transition: 0.2s;

      @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__name {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 45%;
        margin-right: 10%;

        @include mobile {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }

        &_input {
          @include inputTextStyles;
          border: 0;
          border-bottom: 2px solid #ccc;
          outline: 0;
          width: 100%;
          padding: 5px 0;
          background: transparent;
          transition: border-color 0.2s;

          &::placeholder {
            color: transparent;
          }
  
          &:placeholder-shown ~ .form__name_label {
            font-size: 1rem;
            cursor: text;
            top: 20px;
          }

          &:hover {
            border-color: #000;
          }
  
          &:focus {
            padding-bottom: 6px;  
            border-color: #000;
    
            ~ .form__name_label {
              position: absolute;
              top: 0px;
              display: block;
              transition: 0.2s;
              font-size: 1rem;
              color: $gray;
              font-weight:700;    
            }
          }
  
          &:required,&:invalid { 
            box-shadow:none; 
          }
        }

        &_label {
          position: absolute;
          top: 0px;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: #000;
        }
      }
    
      &__email {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 45%;

        @include mobile {
          width: 100%;
          margin-bottom: 10px;
        }

        &_input {
          @include inputTextStyles;
          border: 0;
          border-bottom: 2px solid #ccc;
          outline: 0;
          width: 100%;
          padding: 5px 0;
          background: transparent;
          transition: border-color 0.2s;
  
          &::placeholder {
            color: transparent;
          }
  
          &:placeholder-shown ~ .form__email_label {
            font-size: 1rem;
            cursor: text;
            top: 20px;
          }

          &:hover {
            border-color: #000;
          }
  
          &:focus {
            padding-bottom: 6px;  
            border-image-slice: 1;
            border-color: #000;
    
            ~ .form__email_label {
              position: absolute;
              top: 0px;
              display: block;
              font-size: 1rem;
              color: $gray;
              font-weight:700;     
            }
          }
  
          &:required,&:invalid { 
            box-shadow:none; 
          }
        }

        &_label {
          position: absolute;
          top: 0px;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: #000;
        }
      }

      &__message {
        position: relative;
        padding: 15px 0 0;
        margin-top: 20px;
        width: 100%;

        &_textarea {
          @include inputTextStyles;
          border: 0;
          border-bottom: 2px solid #ccc;
          outline: 0;
          padding: 5px 0;
          background: transparent;
          transition: border-color 0.2s;
          width: 100%;
          resize: none;
          overflow: auto;
  
          &::placeholder {
            color: transparent;
          }
  
          &:placeholder-shown ~ .form__message_label {
            font-size: 1rem;
            cursor: text;
            top: 0px;
          }

          &:hover {
            border-color: #000;
          }
  
          &:focus {
            padding-bottom: 6px;  
            border-image-slice: 1;
            border-color: #000;
    
            ~ .form__message_label {
              position: absolute;
              top: 0px;
              display: block;
              font-size: 1rem;
              color: $gray;
              font-weight:700;     
            }
          }
          &:required,&:invalid { 
            box-shadow:none; 
          }
        }

        &_label {
          position: absolute;
          top: 0px;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: #000;
        }

        &:required,&:invalid { 
          box-shadow:none; 
        }
      }

      &__button {
        $button-width: 150px;
        $spinner-width: $button-width/6;
        $text-light: #000;

        position: relative;
        display: inline-block;
        min-width: $button-width;
        margin: 20px 0;
        background: #fff;
        color: #000;
        @include Montserrat;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.2em;
        font-weight: 300;
        padding: 15px 40px;
        border-radius: 50px;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid #000;
        transition: border-radius linear 0.05s, width linear 0.05s;
        
        &:hover {
          font-weight: 500;
          transition: 0.2s;
        }

        &:focus {
          outline: 2px;
        }
        
        &.animate{
          width: $button-width/2.5;
          height: $button-width/2.5;
          min-width: 0;
          border-radius: 50%;
          color: transparent;
          padding: 10px;
          
          &:after{
            position: absolute;
            content: '';
            width: $spinner-width;
            height: $spinner-width;
            border: 4px solid #000;
            border-radius: 50%;
            border-left-color: transparent;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            animation: spin ease-in 2s forwards;
            animation-name: spin;
            -webkit-animation-name: spin; 
            transition-timing-function:ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            animation-duration: 2s;
            -webkit-animation-duration: 2s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
          }

          &.success:before{
            position: absolute;
            content: '';
            width: $spinner-width;
            height: $spinner-width/2;
            border: 4px solid green;
            border-right: 0;
            border-top: 0;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
            transform: translate(-50%, -50%) rotate(0deg) scale(0);
            -webkit-animation: success ease-in 0.15s forwards;
            animation: success ease-in 0.15s forwards;
            animation-delay: 2s;
          }
          
          &.error{
            position: relative;
            -webkit-animation: vibrate ease-in 0.5s forwards;
            animation: vibrate ease-in 0.5s forwards;
            -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
          
            &:before{
              color: #fff;
              position: absolute;
              content: '!';
              font-size: 1.8rem;
              font-weight: bold;
              text-align: center;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%) scale(0);
              transform: translate(-50%, -50%) scale(0);
              -webkit-animation: error ease-in 0.5s forwards;
              animation: error ease-in 0.5s forwards;
              animation-delay: 2s;
            }
          }
        }
      }

          
      @keyframes spin {
          0% { transform: translate(-50%, -50%) rotate(0deg) scale(1);}
          90% { transform: translate(-50%, -50%) rotate(1080deg) scale(1); }
          100% { transform: scale(0); }
          }

      @-webkit-keyframes spin {
        0% {-webkit-transform: translate(-50%,-50%) rotate(0deg) scale(1);}

        98% {-webkit-transform: translate(-50%,-50%) rotate(1080deg) scale(1);}

        100% {-webkit-transform: translate(-50%,-50%) rotate(1080deg) scale(0);}
      }
          
      @keyframes success{
          from {
            transform: translate(-50%, -50%) rotate(0) scale(0);
            }
          to {
            transform: translate(-50%, -50%) rotate(-45deg) scale(1);
          }
      }

      @-webkit-keyframes success{
          from {
            -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
            }
          to {
            -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
          }
      }

      @keyframes error {
          from { 
          transform: translate(-50%, -50%) scale(0);
          }
          to { 
          transform: translate(-50%, -50%) scale(1);
          background-color: #f44336;
          }
      }

      @-webkit-keyframes error {
          from { 
          -webkit-transform: translate(-50%, -50%) scale(0);
          }
          to { 
          -webkit-transform: translate(-50%, -50%) scale(1);
          background-color: #f44336;
        }
      }

      &__gratitude {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 30%;

        background-color:rgba(104, 104, 104, 0.5);
        border-radius: 20px;
        
        background-image: url(../../src/img/modal-w.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        
        &_text {
          @include Montserrat;
          font-weight: 500;
          color: #fff;
          font-size: inherit;
        }
      }
    }
  }

  &__map {
    height: 70vh;
    width: 100%;
    grid-column: 1/4;
  }
}

.footer {
  margin: 65px 0;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 2px solid #d4d4d4;
    padding-top: 35px;

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__copyright {
    @include Montserrat;
    font-size: 14px;
    color: #686868;

  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include mobile {
      width: 100%;
      justify-content: space-around;
      font-size: 20px;
      margin-bottom: 30px;
    }

    &_item {
      margin-right: 20px;

      .item_link {
        text-decoration: none;
        color: #000;

        &:hover .socials_icon {
          color: #045065;
          transform: scale(1.2);
        }
  
        &:active {
          color: #ccc;
        }
      }
    }
  }
}
